<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Categoría</title>
</head>
<body>
    <h1>Agregar Nueva Categoría</h1>
    <form method="POST">
        <label for="nombre_categoria">Nombre de la Categoría:</label>
        <input type="text" id="nombre_categoria" name="nombre_categoria" required>
        <button type="submit">Agregar</button>
    </form>
    <a href="{{ url_for('listar_categorias') }}">Volver</a>
</body>
</html>
